.advantages {
    background-color: #222224;
  }
  .advantagesWrap {
    @include position;
    justify-content: space-between;
    align-content: center;
    padding-top: 103px;
    padding-bottom: 104px;
  }
  .advantagesImg {
    text-align: center;
    margin-left: 45%;
  }
  .advantagesDelivery {
    align-self: center;
  }
  .h2Advantages {
    color: #FBFBFB;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
  .h5Advantages {
    color: #FBFBFB;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }