.catalogProductsHeader {
  height: 132px;
  @include position;
  justify-content: flex-start;
}

.filter {
  width           : 360px;
  background-color: #FFFFFF;
  box-sizing      : border-box;
  position        : relative;
  outline         : none;
  border          : none;
  font-weight     : 600;
  font-size       : 14px;
  line-height     : 16.8px;
  color           : #000000;
  margin-top      : 39px;
  padding-top     : 17px;
  cursor          : pointer;
}

.filter ::-webkit-details-marker {
  display: none;
}

.filter summary:focus {
  outline: 0;
  cursor : pointer;
}

.filter[open] {
  padding-left: 10px;
  box-shadow  : 6px 4px 35px rgba(0, 0, 0, 0.21);
  cursor      : pointer;
}

.filter[open]>summary {
  color: $mainPinkColor;
}

.filterSvg {
  fill: #000000;
}

.filter[open]>summary>svg {
  fill: $mainPinkColor
}

.filterContent {
  padding-bottom: 16px;
}

.filterItems {
  border-left  : 5px solid $mainPinkColor;
  border-bottom: 1px solid #EBEBEB;
  padding      : 11px;
  margin-top   : 16px;
  font-weight  : 400;
  font-size    : 14px;
  line-height  : 16.8px;
  color        : #6F6E6E;
  width        : 327px;
}

.filterItems:hover {
  color: $mainPinkColor;
}

.filterList {
  list-style: none;
}

.filterListItem {
  margin-left  : -15px;
  margin-top   : 24px;
  margin-bottom: 24px;
}

.filterLink {
  text-decoration: none;
  font-weight    : 400;
  font-size      : 14px;
  line-height    : 16.8px;
  color          : #6F6E6E;
}

.filterLink:hover {
  color: $mainPinkColor;
}

.catalogProductsHeaderTranding {
  @include position;
  margin-top : 2px;
  margin-left: 30px;
}

.catalogProductsHeaderTrandingWrap {
  @include position;
  @include zeroMargin;
  justify-content: space-between;
}

.catalogProductsHeaderTrandingWrap label {
  cursor: pointer;
  @include zeroMargin;
}

.catalogProductsHeaderArrow {
  padding-left: 10px;
}

.tranding {
  @include zeroMargin;
  outline    : none;
  border     : none;
  outline    : 0;
  font-weight: 400;
  font-size  : 14px;
  line-height: 16.8px;
  color      : #6F6E6E;
  padding-top: 52px;
  padding-right: 27.98px;
  cursor     : pointer;
}

.tranding ::-webkit-details-marker {
  display: none;
}

.tranding[open] {
  position: relative;
  outline : 0;
  outline : none;
  border  : none;
  cursor  : pointer;
}

.tranding summary {
  padding-right: 5px;
}

.tranding:focus {
  outline: 0;
  outline: none;
  border : none;
  cursor : pointer;
}

.tranding summary:focus {
  outline: 0;
  outline: none;
  border : none;
  cursor : pointer;
}

.trandingBody {
  position        : absolute;
  display         : flex;
  flex-direction  : column;
  align-items     : flex-start;
  cursor          : pointer;
  margin-top      : 10px;
  background-color: #FFFFFF;
  box-shadow      : 6px 4px 35px rgba(0, 0, 0, 0.21);
  width           : 132px;

}

input[id="trandingNow"] {
  margin: 10px;
  cursor: pointer
}

.size {
  @include zeroMargin;
  outline    : none;
  border     : none;
  outline    : 0;
  font-weight: 400;
  font-size  : 14px;
  line-height: 16.8px;
  color      : #6F6E6E;
  padding-top: 52px;
  padding-right: 27.98px;
  cursor     : pointer;
}

.size ::-webkit-details-marker {
  display: none;
}

.size[open] {
  position: relative;
  outline : 0;
  outline : none;
  border  : none;
  cursor  : pointer;
}

.size summary {
  padding-right: 5px;
}

.size summary:focus {
  outline: 0;
  outline: none;
  border : none;
  cursor : pointer;
}

.sizeBody {
  position        : absolute;
  display         : flex;
  flex-direction  : column;
  align-items     : flex-start;
  cursor          : pointer;
  margin-top      : 10px;
  background-color: #FFFFFF;
  box-shadow      : 6px 4px 35px rgba(0, 0, 0, 0.21);
  width           : 80px;

}

input[id="sizeCheckbox"] {
  margin: 10px;
  cursor: pointer
}

.price {
  @include zeroMargin;
  outline    : none;
  border     : none;
  outline    : 0;
  font-weight: 400;
  font-size  : 14px;
  line-height: 16.8px;
  color      : #6F6E6E;
  padding-top: 52px;
  cursor     : pointer;
}

.price ::-webkit-details-marker {
  display: none;
}

.price[open] {
  position: relative;
  outline : 0;
  outline : none;
  border  : none;
  cursor  : pointer;
}

.price:focus {
  outline: 0;
  outline: none;
  border : none;
  cursor : pointer;
}

.price summary:focus {
  outline: 0;
  outline: none;
  border : none;
  cursor : pointer;
}

.priceBody {
  position        : absolute;
  display         : flex;
  flex-direction  : column;
  align-items     : flex-start;
  cursor          : pointer;
  margin-top      : 10px;
  background-color: #FFFFFF;
  box-shadow      : 6px 4px 35px rgba(0, 0, 0, 0.21);
  width           : 132px;

}

input[id="priceCheckbox"] {
  margin: 10px;
  cursor: pointer
}

.catalogProductsItems {
  @include position;
  flex-wrap      : wrap;
  justify-content: space-between;
}

.catalogProductsItemsCard {
  display       : flex;
  flex-direction: column;
  flex-basis    : 30%;
  @include zeroMargin;
  margin-bottom: 30px;
}

.catalogProductsItemsCardPic img {
  background-color: #F3EDED;
}

.catalogProductsItemsCardText {
  width           : 360px;
  height          : 161px;
  background-color: #F8F8F8;
}

.catalogProductsItemsCardText a {
  text-decoration: none;
}

.catalogProductsNav {
  height         : 158px;
  display        : flex;
  align-items    : center;
  justify-content: center;
}

.pagination {
  width: 284px;
  @include position;
  align-items    : center;
  justify-content: center;
  outline        : 1px solid #EBEBEB;
  margin-bottom  : 90px;
}

.linkPagination {
  text-decoration: none;
  color          : #C4C4C4;
  padding        : 3.2%;
}

.linkPaginationActive {
  color: #000000;
}

.linkPagination:hover {
  color: #EF5B70;
}