.categories {
  background-color: #FFFFFF;
  margin-top      : 63px;
}

.categoriesWrap {
  @include position;
  flex-wrap      : wrap;
  justify-content: space-between;
  align-items    : center;
  align-content  : center;
}

.categoriesImg {
  height: 100%;
  width: 100%;
  
}

.categoriesHover {
  width : 360px;
  height: 260px;
  text-decoration: none;
  display        : block;
  transition: 0.3s;
}

.categoriesHover:hover {
  transform: scale(1.1);
}

.categoriesHoverText {
  font-weight: 400;
  font-size  : 16px;
  line-height: 19.2px;
  @include zeroMargin;
  color         : #FFFFFF;
  text-align    : center;
  text-transform: uppercase;
  
}

.categoriesHoverTextPink {
  font-weight: 700;
  font-size  : 24px;
  line-height: 28.8px;
  @include zeroMargin;
  color         : $mainPinkColor;
  text-align    : center;
  text-transform: uppercase;
}

.forWomen {
  background-image: url(img/forWomen.jpg);
  background-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.forMen {
  background-image: url(img/forMen.jpg);
  background-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.forKids {
  background-image: url(img/forKids.jpg);
  background-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.accesories {
  flex-basis      : 100%;
  background-image: url(img/accesories.jpg);
  margin-top      : 30px;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.categoriesImgBottom {
  height: 100%;
  width: 100%;
  
}

.categoriesHoverBottom {
  width : $desktop;
  height: 180px;
  text-decoration: none;
  transition: 0.3s;
}

.categoriesHoverBottom:hover {
  transform: scale(1.1);
}

.categoriesHoverTextBottom {
  font-weight: 400;
  font-size  : 16px;
  line-height: 19.2px;
  @include zeroMargin;
  color         : #FFFFFF;
  text-align    : center;
  text-transform: uppercase;
}