.feedback {
    background: #FBFBFB url(img/feedBackBG.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .feedbackWrap {
    @include position;
    justify-content: space-between;
    align-content: center;
    height: 448px;
  }
  .feedbackTalk {
    margin-top: 97px;
  }
  .feedbackFace {
    border-radius: 50px;
    text-align: center;
    margin-left: 120px;
  }
  .h5FeedbackTalk {
    color: #222224;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
  .feedbackSubscribe {
    margin-top: 97px;
    margin-right: 105px;
  }
  .h2feedbackSubscribe {
    color: #222224;
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    @include zeroMargin;
  }
  .h5feedbackSubscribe {
    color: #222224;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    @include zeroMargin;
  }
  .feedbackSubscribeForm {
    margin-top: 32px;
  }
  .feedbackSubscribeInput {
    width: 256px;
    height: 49px;
    background-color: #E1E1E1;
    border: none;
    padding-left: 20px;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    float: left;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  .feedbackSubscribeButton {
    width: 100px;
    height: 49px;
    background-color: $mainPinkColor;
    border: none;
    padding: 15px;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    text-decoration: none;
    color: #FFFFFF;
    float: left;
  }
  .feedbackSubscribeButton:hover {
    animation: goColor 0.5s 1;
  }
  