@media screen and (max-width: 1160px) {
    .catalogProductsItemsCard:nth-child(3) {
        display: none;
    }

    .catalogProductsHeader {
        height       : 81px;
        margin-top   : -30px;
        margin-bottom: 20px;
    }

    .filter[open] {
        position: absolute;
        width   : 360px;
        height  : auto;
        z-index : 7;
    }

    .tranding {
        padding-right: 23.98px
    }

    .price {
        padding-right: 23.98px
    }

}

@media screen and (max-width: 800px) {
    
    .catalogProductsItemsCard:nth-child(3) {
        display: none;
    }

    .breadcrumbCatalogWrap {
        margin         : 0 auto;
        position       : fixed;
        flex-direction : column;
        justify-content: center;
        align-items    : center;
        height         : 148px;
        position       : relative;
    }

    .catalogProductsHeader {
        width          : 373px;
        margin-top     : -30px;
        margin-bottom  : 40px;
        justify-content: space-between;

    }

    .filter {
        position: relative;
    }

    .filter[open] {
        position: absolute;
        width   : 360px;
        height  : auto;

    }

    .filter>summary {
        font-size: 0;
    }

    .filter>summary>svg {
        height: 25px;
        width : 35.7px;
    }

    .tranding {
        font-size    : 12px;
        padding-right: 23.98px
    }

    .size {
        font-size    : 12px;
        padding-right: 23.98px
    }

    .price {
        font-size: 12px;
    }

    .catalogProductsItemsCard {
        width : 358.76px;
        height: 580px;
    }

    .productImg {
        width : 358.76px;
        height: 418.56px
    }

}