@media screen and (max-width: 1160px) {
    .productSlider {
        width: 768px;
    }

    .productDescriptionWpap {
        width: 768px;
    }

    .pProductDescription {
        width: 555px;
    }


}

@media screen and (max-width: 800px) {
    .productDescriptionWpap {
        width: 375px;
    }

    .pProductDescription {
        width: 326px;
    }

    .secondChild {
        display: none !important;
    }

    .therdChild {
        display: flex !important;
    }
}