.productSlider {
  background-color: #F7F7F7;
  display         : flex;
  justify-content : center;
  align-items     : center;
  position        : relative;
}

.backArrowProductSlider {
  align-self      : center;
  height          : 47px;
  width           : 47px;
  background-color: #F7F7F7;
  position        : absolute;
  left            : 5px;
}

.productSliderLink {
  background-color: #D8D8D8;
  color           : #000000;
  height          : 47px;
  width           : 47px;
  padding         : 35%;
  @include position;
  justify-content: center;
  align-content  : center;
  text-decoration: none;
  border         : none;
  border-radius: 0;
}

.productSliderLink:hover {
  color: $mainPinkColor;
}

.forwardArrowProductSlider {
  align-self      : center;
  height          : 47px;
  width           : 47px;
  background-color: #F7F7F7;
  position        : absolute;
  right           : 5px;
}

.productDescription {
  background-color: #FFFFFF;

}

.productDescriptionWpap {
  position        : relative;
  margin-top      : -50px;
  border          : 2px solid #F7F7F7;
  border-top      : none;
  display         : flex;
  flex-direction  : column;
  align-items     : center;
  background-color: #FFFFFF;
}

.h2ProductDescription {
  @include zeroMargin;
  font-weight   : 300;
  font-size     : 14px;
  line-height   : 16.8px;
  color         : $mainPinkColor;
  text-transform: uppercase;
  padding-top   : 65px;
  padding-bottom: 12px;
  border-bottom : 3px solid #EF5B70;
}

.h3ProductDescription {
  @include zeroMargin;
  font-weight   : 300;
  font-size     : 18px;
  line-height   : 21.6px;
  color         : #4D4D4D;
  text-transform: uppercase;
  padding-top   : 12px;
}

.pProductDescription {
  @include zeroMargin;
  width      : 555px;
  font-weight: 300;
  font-size  : 14px;
  line-height: 16.8px;
  color      : #5E5E5E;
  text-align : center;
  padding-top: 48.41px;
}

.h4ProductDescription {
  @include zeroMargin;
  width         : 642px;
  font-weight   : 300;
  font-size     : 24px;
  line-height   : 28.8px;
  color         : #EF5B70;
  padding-top   : 32.27px;
  padding-bottom: 64.54px;
  text-align    : center;
  border-bottom : 2px solid #F7F7F7;
}

.navProductDescription {
  @include zeroMargin;
  @include position;
  justify-content: center;
  width          : auto;
  padding-top    : 64.54px;
}

.navProductDescription a {
  @include zeroMargin;
  @include position;
  text-decoration: none;
  color          : #6F6E6E;
  padding-right  : 23px;
}

.h5navProductDescription {
  @include zeroMargin;
  font-weight  : 400;
  font-size    : 14px;
  line-height  : 16.8px;
  padding-right: 9px;
}

.navProductDescriptionColor {
  flex-basis: 30%;
  @include zeroMargin;
}

.navProductDescriptionSize {
  flex-basis: 30%;
  @include zeroMargin;
}

.navProductDescriptionQuantity {
  flex-basis: 30%;
  @include zeroMargin;
}

.productDescriptionButton {
  @include position;
  justify-content: flex-start;
  padding-top    : 48.41px;
  padding-bottom : 64.5px;
}

.buttonProduct {
  color           : #F26376;
  font-weight     : 400;
  font-size       : 16px;
  line-height     : 19.2px;
  text-decoration : none;
  text-transform  : capitalize;
  background-color: #ffffff;
  width           : 212px;
  height          : 48px;
  outline         : 1px solid #FF6A6A;
  @include position;
  justify-content: flex-start;
  padding        : 7%;
}

.buttonProduct img {
  margin-right: 18px;
  margin-left : 10px;
  align-self  : center;
}

.productProductsItems {
  padding-top   : 128px;
  padding-bottom: 128px;
}