.products {
  background-color: #FFFFFF;
  padding-top     : 97px;
}

.linkProductsTitle {
  text-decoration: none;
}

.h2ProductsTitle {
  font-weight: 400;
  font-size  : 30px;
  line-height: 36px;
  text-align : center;
  color      : #222222;
  @include zeroMargin;
}

.h5ProductsTitle {
  font-weight: 400;
  font-size  : 14px;
  line-height: 16.8px;
  text-align : center;
  color      : #9F9F9F;
  @include zeroMargin;
  padding-top   : 6px;
  padding-bottom: 48px;
}

.productsImgWrap {
  @include position;
  flex-wrap      : wrap;
  justify-content: space-between;
 
}

.productsImgWrapLink {
  text-decoration: none;
  @include zeroMargin;
  background-color: #F8F8F8;
}

.productPicture {
  position  : relative;
  display   : block;
  width     : 360px;
  height    : 420px;
  transition: 0.3s;
  overflow  : hidden;
}

.productOverlay {
  display        : flex;
  position       : absolute;
  justify-content: center;
  align-items    : center;
  margin-top     : -423px;
  opacity        : 0;
  width          : 360px;
  height         : 420px;
  background     : rgba(58, 56, 56, 0.86);
  transition     : 0.3s;
}

.productOverlay:hover {
  opacity: 1;
}

.productImg {
  transition: 0.3s;
}

.productPicture:hover .productImg {
  transform: scale(1.2);
}

.overlayLink {
  text-decoration: none;
}

.overlayButtun {
  @include position;
  justify-content: space-around;
  align-items    : center;
  width          : 139px;
  height         : 44px;
  color          : #FFFFFF;
  border         : 1px solid #FFFFFF;
  outline        : none;
  border-radius  : 0;
  cursor         : pointer;
  background     : transparent;
}

.productsImg1 {
  z-index         : 6;
  flex-basis      : 30%;
  background-color: #F8F8F8;
  margin-bottom   : 30px;
}

.productsImg2 {
  flex-basis      : 30%;
  background-color: #F8F8F8;
  margin-bottom   : 30px;
}

.productsImg3 {
  flex-basis      : 30%;
  background-color: #F8F8F8;
  margin-bottom   : 30px;
}

.productsImg4 {
  flex-basis      : 30%;
  background-color: #F8F8F8;
  margin-bottom   : 30px;
}

.productsImg5 {
  flex-basis      : 30%;
  background-color: #F8F8F8;
}

.productsImg6 {
  flex-basis      : 30%;
  background-color: #F8F8F8;
}

.h3ProductsImg {
  font-weight   : 400;
  font-size     : 13px;
  line-height   : 15.6px;
  margin-left   : 18px;
  text-transform: uppercase;
  color         : #000000;
}

.h4ProductsImg {
  font-weight: 300;
  font-size  : 14px;
  line-height: 16.8px;
  margin-left: 18px;
  color      : #5D5D5D;
}

.h5ProductsImg {
  font-weight: 400;
  font-size  : 16px;
  line-height: 19.2px;
  margin-left: 18px;
  color      : $mainPinkColor;
}

.productsButton {
  @include position;
  justify-content: center;
  align-content  : center;
  width: $desktop;
  margin-top     : 48px;
  margin-bottom  : 95px;

}

.button {
  cursor          : pointer;
  background-color: #ffffff;
  width           : 212px;
  height          : 48px;
  outline         : 1px solid #F26376;
  align-self      : center;
  border          : none;
  border-radius   : 0;
 
}

.button a {
  text-decoration: none;
  color          : #F26376;
  font-weight    : 400;
  font-size      : 16px;
  line-height    : 19.2px;
  text-transform : capitalize;
  text-align     : center;
  display: block;
  width: 100%;
  height: 100%;
  padding-top: 15px;
}

.button:hover {
  animation       : goColor 0.5s 1;
  background-color: $mainPinkColor;
}
.button a:hover{
  color: #FFFFFF;
  
}