.productSlider {
  background-color: #F7F7F7;
  display         : flex;
  justify-content : center;
  align-items     : center;
  position: relative;
}

.productSliderWrap {
  display         : flex;
  justify-content : center;
  align-items     : center;
  margin: 0 auto;
  width           : $desktop;
  background-color: #F7F7F7;
}

.backArrowProductSlider {
  align-self      : center;
  height          : 47px;
  width           : 47px;
  background-color: #F7F7F7;
  position        : absolute;
  left            : 5px;
}

.productSliderLink {
  background-color: #D8D8D8;
  color           : #000000;
  height          : 47px;
  width           : 47px;
  padding         : 35%;
  @include position;
  justify-content: center;
  align-content  : center;
  text-decoration: none;
  border         : none;
  border-radius  : 0;
  cursor         : pointer;
  transition     : 0.3s;
  outline        : 0;
}

.productSliderLink::-moz-focus-inner {
  border : 0;
  outline: 0;
}

.productSliderLink:hover {
  color    : $mainPinkColor;
  transform: scale(1.2);
  border   : 0;
  outline  : 0;
}

.productSliderLink:focus,
.productSliderLink:active {
  border : 0;
  outline: 0;
}

.forwardArrowProductSlider {
  align-self      : center;
  height          : 47px;
  width           : 47px;
  background-color: #F7F7F7;
  position        : absolute;
  right           : 5px;
}

.productDescription {
  background-color: #FFFFFF;

}

.productDescriptionWpap {
  position        : relative;
  margin-top      : -50px;
  border          : 2px solid #F7F7F7;
  border-top      : none;
  display         : flex;
  flex-direction  : column;
  align-items     : center;
  background-color: #FFFFFF;
  width           : 1141px;
}

.h2ProductDescription {
  @include zeroMargin;
  font-weight   : 300;
  font-size     : 14px;
  line-height   : 16.8px;
  color         : $mainPinkColor;
  text-transform: uppercase;
  padding-top   : 65px;
  padding-bottom: 12px;
  border-bottom : 3px solid #EF5B70;
}

.h3ProductDescription {
  @include zeroMargin;
  font-weight   : 300;
  font-size     : 18px;
  line-height   : 21.6px;
  color         : #4D4D4D;
  text-transform: uppercase;
  padding-top   : 12px;
}

.pProductDescription {
  @include zeroMargin;
  width      : 555px;
  font-weight: 300;
  font-size  : 14px;
  line-height: 16.8px;
  color      : #5E5E5E;
  text-align : center;
  padding-top: 48.41px;
}

.h4ProductDescription {
  @include zeroMargin;
  width         : 642px;
  font-weight   : 300;
  font-size     : 24px;
  line-height   : 28.8px;
  color         : #EF5B70;
  padding-top   : 32.27px;
  padding-bottom: 64.54px;
  text-align    : center;
  border-bottom : 2px solid #F7F7F7;
}

.navProductDescription {
  @include zeroMargin;
  margin-top: 64.54px;
  width     : 373.02px;
}

.productDetailsWrap {
  @include position;
  @include zeroMargin;
  justify-content: space-between;
}

.fa-chevron-down {
  padding-left: 9px;
}

.productDetailsWrap label {
  cursor: pointer;
  @include zeroMargin;
}

.chooseColore {
  @include zeroMargin;
  outline    : none;
  border     : none;
  outline    : 0;
  font-weight: 400;
  font-size  : 14px;
  line-height: 16.8px;
  color      : #6F6E6E;
  cursor     : pointer;
}

.chooseColore ::-webkit-details-marker {
  display: none;
}

.chooseColore[open] {
  position: relative;
  outline : 0;
  outline : none;
  border  : none;
  cursor  : pointer;
  z-index : 7;
}

.chooseColore:focus {
  outline: 0;
  outline: none;
  border : none;
  cursor : pointer;
}

.chooseColore summary:focus {
  outline: 0;
  outline: none;
  border : none;
  cursor : pointer;
}

.chooseColoreBody {
  position        : absolute;
  display         : flex;
  flex-direction  : column;
  align-items     : flex-start;
  cursor          : pointer;
  margin-top      : 10px;
  background-color: #FFFFFF;
  box-shadow      : 6px 4px 35px rgba(0, 0, 0, 0.21);
  width           : 128.02px;

}

input[id="coloreOf"] {
  margin: 10px;
  cursor: pointer
}

.productDescriptionButton {
  @include position;
  justify-content: flex-start;
  padding-top    : 48.41px;
  padding-bottom : 64.5px;
}

.buttonProduct {
  color           : #F26376;
  font-weight     : 400;
  font-size       : 16px;
  line-height     : 19.2px;
  text-decoration : none;
  text-transform  : capitalize;
  background-color: #ffffff;
  width           : 212px;
  height          : 48px;
  outline         : 1px solid #FF6A6A;
  @include position;
  justify-content: flex-start;
  align-items    : center;
  fill           : #F26376;
  transition     : 0.3s;
}

.buttonProduct svg {
  margin: 20px;
}

.buttonProduct:hover {
  background-color: $mainPinkColor;
  color           : #ffffff;
  fill            : #ffffff;
  outline         : none;
  animation       : goColor 0.5s 1;
}

.productProductsItems {
  padding-top   : 128px;
  padding-bottom: 128px;
}